 
*{
  font-size: 10px;
  font-family:times new roman;
  text-transform: Capitalize;
   background-image: linear-gradient(to right, #f3ec78, #af4261);
  
}


h2{
  color: green;
  background-color: white; 
  line-height: 20px;
  letter-spacing: 2xx;
  word-spacing: 2px;
  text-align: center;
  text-decoration: underline;
  cursor: pointer;
  background-image: linear-gradient(to right, #f3ec78, #af4261);
 
}
